
.author-image{
	width:50px;
	height: 50px;
	border-radius: 50%;
	

}
.author-name{

 margin-left: 15px;
}
.author-name>h4{
 margin:5px 0;
}
.author-time{
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}
.comment{
	margin-bottom: 45px;
}
.comment-content{
	
	margin-left: 65px;
	font-size: 16px;
	line-height:1.3em;
}
.edit-delete span.edit{
	color:green;
}
.edit-delete a.js-ajax-delete{
	color:red;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog{
	background: #eeeeee;
	text-align: center;

}

.ui-dialog-titlebar{
	background:#f7b64b;
}
.ui-dialog-buttonset button{
 margin:10px;
}